@font-face {
    font-family: 'Grotesque';
    src: url('../fonts/BasementGrotesque-Black_v1.202.otf') format("opentype");
    src: url('../fonts/BasementGrotesque-Black_v1.202.woff2') format('woff2'),
    url('../fonts/BasementGrotesque-Black_v1.202.woff') format('woff'); /* Pretty Modern Browsers  */
    font-weight: 800;
}
